.navbar {
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.navbar .container {
    height: 12vh;
    color: white;
}

.settings-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.settings-btn {
    cursor: pointer;
    font-size: 28px;
}

.avery {
    color: var(--pink);
    text-decoration: none;
    transition: color 0.3s ease;

}

.avery:hover {
    color: var(--dark-pink);
}

@media (max-width: 768px) {
    .avery, .website {
        display: none;
    }
}