@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/*FOR ALL MODALS*/
.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5);
}

.settings-modal {
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 18px;
    max-width: 90vw;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close {
    filter: invert(1);
    font-size: 16px;
}

.btn-close:focus,
.btn-close:active {
  box-shadow: none;
  outline: none;
}

.settings-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
}

#custom-switch.form-check-input:checked {
    background-color: var(--pink);
    border-color: var(--pink);
}

#custom-switch:focus {
    box-shadow: none;;
    outline: none;
}

.save-btn {
    background-color: var(--pink);
    border: var(--pink);
}

.save-btn:hover {
    background-color: var(--dark-pink) !important;
}