.app-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100dvh - 12vh);
    overflow: hidden;
    box-sizing: border-box;
}

.turn-counter {
    color: white;
    font-size: 36px;
    margin-top: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: fit-content;
    max-width: 95vw;
}

.turn-counter {
    font-family: 'Raleway', sans-serif;
}

.rocket-fly {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100px;
    height: auto;
    animation: fly-across 2s linear forwards;
}

.website-footer {
    display: none;
}

@keyframes fly-across {
    from { left: 0; }
    to { left: 100vw; }
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
    .turn-counter {
        font-size: 24px;
    }
    .website-footer {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }

    .avery1 {
        color: var(--pink);
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .avery1:hover {
        color: var(--dark-pink);
    }

    .rocket-fly {
        animation: fly-across 1s linear forwards;
    }
    @keyframes fly-across {
    from { left: -12vw; }
    to { left: 100vw; }
}
}