.app-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.turn-counter {
    color: white;
    font-size: 36px;
    margin-top: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: fit-content;
    max-width: 95vw;
}