.app-div {
    width: 860px;
    max-width: 95vw;
    margin: 40px auto;
}

.card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.settings-icon-div {
    position: absolute;
    top: 20px;
    right: 10%;
}

.settings-btn {
    cursor: pointer;
}