@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background: url('./img/space-background-edited.png');
    background-size: cover;
    color: white;
    animation: scrollBackground 1000s linear infinite;
}

@keyframes scrollBackground {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px;
    }
}

:root {
  --pink: #e46c9c;
  --dark-pink: #b84472;
}